<head>
<title>Fouzi Al-Hindi Contracting | Services | Contracting</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Contracting</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
                <p>We apply our expertise to a wide range of Construction related services:</p>
                    <ul style="list-style-type: disc;">
                    <li>High Rise Development Projects</li>
                    <li>Oil &amp; Gas Design &amp;Construction Projects</li>
                    <li>Steel Fabrication and Construction</li>
                    <li>Piping Fabrication &amp; Construction</li>
                    <li>All types of Electrical and Instrumentation works</li>
                    <li>Commercial Development Projects</li>
                    <li>Industrial Development Projects</li>
                    <li>Fire Fighting Works</li>
                    </ul>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>