<head>
<title>Fouzi Al-Hindi Contracting | Services | Electrical</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Electrical</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">

					<p>We provide a portfolio of services in all phases of Electrical Construction activities.</p>
					<ul>
					<li>Supply, Installation, Testing &amp; commissioning of LV &amp; MV Switchgear Panels, Transformers, Generators, Variable Frequency Drives etc.</li>
					<li>Installation of motors, pumps, barriers, electrical doors and equipment for special applications.</li>
					<li>Supply &amp; Installation of Cable Containment Systems, Paging Systems, Telephone Systems, Load Sharing Panel &amp; Synchronizing Panel, lighting, UPS and small power systems.</li>
					<li>Termination of cables up to 33kV (Heat shrinkable &amp; plug-in type terminations) &amp; Joint up to 36 KV Installation &amp; commissioning of DCS, PLC &amp; SCADA System</li>
					<li>Integration, Installations, Start-Up and Commissioning</li>
					<li>Supply &amp; Installation of Cable Trays, Trunking System, Conduits, Cable (signal, Power, Control &amp; Instrumentation) laying, End Termination and Straight etc. Fiber Cable, Communication Cable and Data Cable laying &amp; Splicing.</li>
					<li>Test for dielectric strength &amp; Tests for moisture content P &amp; I Diagrams, Dimensioning &amp; Isometrics.</li>
					<li>Third Party Inspection and Calibration Services.</li>
					</ul>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>