<head>
<title>Fouzi Al-Hindi Contracting | Services | Insulation</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Insulation</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
<p>We are the leading turnkey Fire Engineering &amp; Contracting Company Specializing in the field of Fire Protection, Detection, Piping &amp; Structural Solutions on a turnkey basis .</p>
<p>Our fire EPC services include,</p>
<ul style="list-style-type: disc;">
<li>Fire Risk Evaluation</li>
<li>System Design &amp; Engineering (In house availability of licensed Flow calculation software&rsquo;s like Pipe net, Sprink Cad)</li>
<li>Quantity Surveying</li>
<li>Procurement</li>
<li>Mechanical Fabrication &amp; Erection</li>
<li>Testing and Commissioning Maintenance and Support</li>
</ul>
<p>Our MEP Services Include</p>
<ul style="list-style-type: disc;">
<li>Piping</li>
<li>Plumbing &amp; Drainage Construction</li>
</ul>
<p>We offers its solutions to a range of sectors, some of which include, Power Plants, Refineries, Airports, Seaports, Petro chemicals, Oil &amp; Gas, Process &amp; General industries, Warehouses &amp; High rise Buildings.</p>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>