<head>
<title>Fouzi Al-Hindi Contracting | Services | HVAC</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>HVAC</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">

					<p>Fouzi Al-Hindi is a leading Electro-Mechanical Contractor based in Kingdom of Saudi Arabia with own HVAC duct fabrication facility and we have experience in HVAC Systems Integration from Designing, Duct Manufacturing, Supply, Installation, Testing &amp; Commissioning on turnkey basis. We executing the jobs as per the latest available standards.</p>
					<p>We offers its services and solutions to a range of sectors. some of which include Power, Oil &amp; Gas, Process &amp; General Industries, Warehouses and High rise buildings to name a few.</p>
					<p>Our Turnkey Services are HVAC System Integration including HVAC System for <strong>Clean Room </strong>Facility</p>
					<ul>
					<li>Pre-Bid Design and Engineering.</li>
					<li>Procurement.</li>
					<li>Duct Fabrication &amp; Installation.</li>
					<li>Air Balancing Testing and Commissioning Maintenance and Support.</li>
					</ul>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>