<head>
<title>Fouzi Al-Hindi Contracting | Services | Insulation</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Insulation</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
                  <ul>
                  <li>Pipes in building services systems and similar applications must be insulated in order to reduce the flow of heat to or from the medium carried by the pipes.&nbsp; This may be necessary for various reasons:</li>
                  <li>Economic reasons<em>: </em>The cost of power losses to the surroundings can be balanced against the cost of greater insulation thickness, and an optimum thickness can be calculated.</li>
                  <li>Surface temperature requirements: In the case of cold systems, the temperature difference between the surface of the pipes and the surroundings must be limited in order to avoid condensation.</li>
                  <li>Limitation of temperature change: Industrial applications may have requirements in respect of the maximum temperature change of the transported medium that can occur.</li>
                  <li>If insulation is to maintain its thermal insulating performance, it is important that any changes in the performance do not occur in an uncontrolled manner, but can be calculated.</li>
                  <li>It is necessary, when calculating heat losses or temperature drops in a piping system, to know the insulating properties of the insulating material.&nbsp; The manufacturer needs to know the insulating performance characteristics of the material in order to provide the required product declaration.</li>
                  <li>Tanks Insulation: Remove the existing insulation and re-insulate with new Lagging and old aluminum sheet cladding.</li>
                  </ul>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>