<head>
<title>Fouzi Al-Hindi Contracting | Introduction</title>
<meta desc="Introduction on Fouzi Al-Hindi Contracting establishment">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="row">
       <div class="box">
            <div class="col-lg-12 text-center">
                <h1>About us</h1>
            </div>
        </div>
</div>
<div class="row">
       <div class="box">
            <div class="col-lg-12">
                <h2 class="text-center">Introduction</h2>
                <div class="col-md-12 ">
                    <p>Our strong growth has been as a result of consistently delivering quality works both on time and on budget to a high level of safety. Over the years, Fouzi Al-Hindi Contracting have implemented a system that ensures our work health and safety, quality and environmental obligations are not only met but continue to be monitored and improved upon.</p>

                    <p>We undertake a variety of projects for a wide range of cliental – from small private developments to large Government projects. Our unique and flexible management system ensure that a positive outcome is achieved regardless of size or nature of the project. Our capacity to deliver high quality projects results from a combination of financial and equipment resources on one hand with high quality managerial and technical personnel on the other. These have put Fouzi Al-Hindi  at the top of the scale in terms of quality of output and professionalism of service.</p>

                    <p>Through our extensive task history of constructing ventures we have developed a customer service business philosophy. Proactive and timely customer service is the backbone of our company. All employees, owner, office staff, project managers and field personnel aim. We pride ourselves on being a service-oriented company that anticipates client requirements. Our relationship with each of our clients is built on open communications, integrity and a continually striving to learn and innovate.</p>
				</div>
            </div>
        </div>
</div>

<% include ../partials/footer.ejs %>