<head>
<title>Fouzi Al-Hindi Contracting | Services | Maintenance</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Maintenance</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">

					<p>Our Industrial Services provides solutions for;</p>
					<ul>
					<li>Rectifying and refurbishing break down Distribution Transformers, Cast resin Transformers, Power Transformers, Special Type of Transformers and Instrumentation Transformers</li>
					<li>Transformer Oil Filtration, Electro Mechanical Overhauling of Transformers.</li>
					<li>Design and manufacture of Steel fabricated parts as per the customer requirements Industrial Maintenance Services, Welding Activities, Fabrication.</li>
					<li>Water supply &amp; Utility-Cooling Tower, RO System &amp; Marine Work</li>
					<li>Preventive maintenance &amp; predictive maintenance including Teardowns &amp; rebuilds, Technical Support and Assistance of Operation, Shutdowns, Overhauls, revamps for the Metal, Power, Process, Steel, Oil and Gas industries</li>
					</ul>
					<p><span style="text-decoration: underline;"><strong>MECHANICAL </strong></span><span style="text-decoration: underline;"><strong>MAINTENANCE</strong></span></p>
					<ol>
					<li>Fabrication, erection, welding, aligning and supporting,&nbsp; grit&nbsp; blasting,&nbsp; painting, testing etc. of pipelines in accordance with the specifications, terms and conditions, drawings, etc. This includes.</li>
					<li>Erection of valves.</li>
					<li>Carry out blinding&nbsp; and&nbsp; de-blinding&nbsp; of the&nbsp; process&nbsp; lines including&nbsp; supply&nbsp; of spades.</li>
					<li>Opening, cleaning and closing of the suction "T" type and line strainers:</li>
					<li>Dismantle, remove and fix back process lines spools.</li>
					<li>De-blocking of pipe lines.</li>
					<li>Fabrication, erection and welding of reinforcement pads.</li>
					<li>Fabrication, erection, aligning, grouting, painting etc. of structural steel works.</li>
					<li>i. Wrapping and coating of underground pipe lines in accordance with the terms and conditions, specifications etc.:</li>
					</ol>
					<p>EQUIPMENT ERECTION AND DISMANTLING WORKS:</p>
					<ol>
					<li>Dismantling of steel structures, pipelines and all inline apparatus, electrical&nbsp; &amp; instrument cable, equipment's etc.:</li>
					</ol>
					<p>STATIC EQUIPMENT MAINTENANCE:</p>
					<ol>
					<li>Carry out opening and closing of Tanks, Vessels, drums, columns etc.:&nbsp;</li>
					<li>Carry out cleaning of exchanger tubes by high pressure water jet including flexible lancing at all elevations:&nbsp;</li>
					<li>Carry out dismantling, cleaning, repairs and fix back column trays/packing:</li>
					<li>Carry out replacement of exchanger/vessel at all elevations:&nbsp;</li>
					<li>Carry out cleaning I replacement of filtering elements:&nbsp;</li>
					<li>Carry out re-tubing of the transfer line exchangers (TLE}:</li>
					<li>Re-Tubing Of Exchangers At All Elevations:</li>
					<li>Carry Out Opening And Closing Of Filtering Vessel Covers:&nbsp;</li>
					<li>i. Carry Out Opening/Closing And Cleaning Of Plate Exchangers:&nbsp;</li>
					<li>Carry Out&nbsp; Cleaning&nbsp; of&nbsp; Exchanger&nbsp; Tubes&nbsp; By&nbsp; High&nbsp; Pressure&nbsp; Water&nbsp; Jet&nbsp; Using Lancing Machine and H.P. Pump.</li>
					</ol>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>