<head>
<title>Fouzi Al-Hindi Contracting | Services | Manpower Supply</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Manpower Supply</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
                <p>We are Suppliers of Reliable &amp; Quality skilled / Unskilled and Professional (Male and Female) staff from countries like the Philippines, Indonesia, Sri Lanka, India, Bangladesh, Pakistan, Shipping &amp; Oilfield industry # Construction Industry # Manufacturing Industry # Drilling Industry.</p>
                <p>We also supply manpower for Oil &amp; Gas sector and others from our own local sources of single sponsor (our own sponsorship) as per the requirements of clients. All the manpower is experienced and fully trained in relevant field.</p>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>