<head>
<title>Fouzi Al-Hindi Contracting | Services | Materials, Equipment and Tools</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Materials, Equipment and Tools</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
               <div class="col-lg-2 "></div>
            	 <div class="col-lg-8 text-left">
                  <p>Our vast experience has helped us to source out a global chain of suppliers from Europe, Middle East, USA, China, Korea and India. We largely deal with the items listed below and can also assist you as per your request upon items on forward delivery basis</p>
                  <p>Mechanical Materials</p>
                  <p>Electrical Materials</p>
                  <p>Instrumentation Materials</p>
                  <p>Civil Materials</p>
                  <ul>
                  <li>Crane</li>
                  <li>Boom Trucks.</li>
                  <li>Roller compacter</li>
                  <li>Tower light / Power Generators</li>
                  <li>Fork Lifters</li>
                  <li>Air Compressors</li>
                  </ul>
                  <p>Pick-ups</p>
 				       </div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>