<head>
<title>Fouzi Al-Hindi Contracting | Services | Other services</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">

           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Other services</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
            	<h2>Mechanical and piping</h2>
					<p>Pipeline Construction</p>
<p>Fabrication, Erection of pipes for power, Oil &amp; Gas and Petrochemical plants as per client requirements.</p>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 	
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
            	<h2>Structural</h2>
					<p>Structural Works</p>
<p>Erection of warehouses, industrial plant buildings including architectural works.</p>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
        <div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
                <div class="col-lg-8 text-left">
                <h2>Scaffolding</h2>
                <p>Scaffolding services we carry out</p>
                <ul style="list-style-type: square;">
                    <li>Residential Buildings</li>
                    <li>Commercial buildings</li>
                    <li>Industrial projects</li>
                    <li>Oil &amp; Gas Projects</li>
                    <li>Scaffolding Rental &amp; sale</li>
                </ul>
                </div>
                <div class="col-lg-2 "></div>
            </div>
    </div>
 </div>


<% include ../partials/footer.ejs %>