<head>
<title>Fouzi Al-Hindi Contracting | Services | Painting & Coating</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Painting & Coating</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">

					<p>Surface Coating offers a vast range of Surface Coating services to our clients. The company has wide experience in the field of application of high performance Coatings &amp; Linings using Modern Technology. The company is deeply involved in new as well as maintenance coating project of Offshore Structure, Ship Building, Dry Docking, Refineries, Petrochemical, Steel Plant, Power Plants &amp; other Heavy Industries including Vessel based Coating Projects. It has strong Project management team for site survey, coating specification, surface preparation, coating application and inspection.</p>
					<p>Expertise &amp; Proficiency are in the areas of;</p>
					<ul>
					<li>Dry Blasting / Slurry Blasting / Hydro Jetting</li>
					<li>Application of entire range of Coating System including Glass flake Polyester, Fire Proof coating etc.</li>
					<li>Tape Wrapping &amp; Rubber Lining</li>
					<li>Under Water Coatings</li>
					<li>Vessel Based Maintenance Painting of Offshore Structures Dry Docking</li>
					<li>Coating Inspection &amp; Audit Coating Specification for Clients</li>
					</ul>
					<p>We handles the demands of almost any industrial painting project and has the ability to provide the most novel, efficient, and safe solutions for any coating projects</p>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>