<head>
<title>Fouzi Al-Hindi Contracting | Services | Automatic Tank Cleaning and Oil Recovery System</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
                	<h1>Automatic Tank Cleaning and Oil Recovery System</h1>
                </div>
            </div>
    </div>
	<div class="row">
          <div class="box">
                <div class="col-lg-2 "></div>
            	<div class="col-lg-8 text-left">
<p>Crude oil and inflammable liquid storage tank owners are required to inspect them at scheduled intervals according to legal regulations or standards. All tanks (Fig. 1) must be cleaned before they are inspected. It is not so difficult to clean small - capacity storage tanks containing light oils and little sludge. In contrast, it is very difficult to clean large-capacity storage tanks, with a diameter of 90 to 100 meters or more, containing a large amount of sludge, such as crude oil storage tanks.</p>
<p>Our S.R.S. (Sludge Recovery System), based on the C.O.W. method, is an automated, mobile and modular, non-manned oil tank cleaning system.</p>
<p>Compared to manual cleaning techniques, S.R.S. cleans tanks much more safely and quickly. A distinctive feature of the S.R.S. is its closed loop cleaning system, which heavily reduces the impact of tank cleaning on the environment and provides near 100% hydrocarbon recovery. Based on its years of experience in storage tank cleaning, about 20 years ago NDT &amp; PETROLEUM INSTITUTE developed the S.R.S. to clean large - capacity storage tanks while meeting the requirements listed above. Our systems stems from oil-tanker cleaning methods and it has been adapted and perfectioned to clean above-ground storage tanks. </p>
<p>The S.R.S. (Sludge Recovery System) fluidizes the hydrocarbon phase of the sludge, by injecting the same fluids that generated or, as it often happens in refineries, using cuts compatible with the sludge to be cleaned. Sludge fluidization is determined by the chemical action of fresh oil, and by the mechanical action of Jet Washers that, properly installed on the tank roof, eject the fresh oil stream at a pressure of 6 bar approx. This way the hydrocarbon phase, within the sludge, is dissolved in the fluidizing oil, and the inert portion (sand, earth and debris) is left inside the tank. The fresh oil intake and the fluidized phase return can be continuous or discontinuous, according to the cleaning procedure agreed with the Client.</p>
<h2>S.R.S TYPICAL LAYOUT</h2>
<img class="img-responsive img-full" src="/public/img/srs-typical-layout.png" alt="Sludge recovery system typical layout"/>
<p>A discontinuous procedure is selected to minimize the use of fluidizing oil, but it requires more time.</p>
<p>A fluidized phase is returned to the Client who can process it accordance with their needs.</p>
<p>For instance, in some operation of ours, it was returned:</p>
<ul>
  <li>To another tank;</li>
  <li>To another tank that was feeding the topping tower;</li>
  <li>To the line feeding the topping tower, at controlled rates (&plusmn;0,1 m3/h)</li>
</ul>
<p>In all cases the stream is filtered by 11 mesh size strainers.</p>
<p>After the oil washing phase, the quantity of residues can be minimized to be disposed to the landfill, through hot-water washing (70-80&deg;C).</p>
<p>During this phase the stream gets thru an oil/water separator. The oil stream is returned to the client, the water stream is returned to the tank.</p>
<p>After water washing, the residue usually has an oil content lower than 20% (by petrol ether extraction 40/70 - IRSA/CNR Q64 N21).</p>
<p>At the end of S.R.S. operations, the tank&rsquo;s man-holes are opened, natural and forced ventilation is applied, and workers can safely enter the tank to take out the final residues.</p>
<h2>THE SYSTEM</h2>
<p>The NDT &amp; PETROLEUM INSTITUTE S.R.S. mainly consists of:</p>
<ul>
<li>A &ndash; Unit</li>
<li>B &ndash; Unit</li>
<li>Separator Tank</li>
<li>Jet Washers</li>
<li>O2 Monitor</li>
</ul>
<h2>FEATURES OF THE SYSTEM</h2>
<p>The reasons why our clients prefer to select S.R.S. tank cleaning are the following:</p>
<ol>
<li>Maximum recovery of hydrocarbon phase contained in the sludge, (up to 98%) whose value often pays the overall cleaning operation;</li>
<li>Minimum quantity of material to be disposed of, just the inert portion saturated by water and HC (its dry residue, at 600&deg;C, is approx 35%);</li>
<li>Minimum tank downtime, the cleaning operation fluidizes from 200 to 400 t/day of sludge, depending on sludge quality;</li>
<li>Minimum overall cost of tank cleaning operations;</li>
<li>Best cost/benefits ratio;</li>
<li>Highest possible safety level of operations, according to the most recent CE regulations;</li>
<li>Elimination of Health and Safety risks run by the operators; their access, into the tank, is restricted to the final phase, when the tank internal atmosphere is neither flammable nor hazardous;</li>
<li>Environmental risks off the System operates through a closed cycle.</li>
</ol>
<h2>A BRIEF SUMMARY OF S.R.S. BENEFITS:</h2>
<h3>Reduced Time</h3>
<ul>
<li>Drainage ratio 250/350 m3/day</li>
<li>Up to 80% reduction of tank cleaning time (compared to manual)</li>
<li>Shorter overall tank down-time</li>
</ul>
<h3>Minimal Environmental Impact</h3>
<ul>
<li>Near 100% recovery of hydrocarbons</li>
<li>Minimal waste disposal</li>
<li>Minimal hydrocarbon emission to atmosphere due to closed-loop cleaning</li>
<li>Lower consumption of water, electricity and air</li>
</ul>
<h3>Cleaning Result</h3>
<ul>
<li>Unique indexed washing pattern covers complete tank interior surface area</li>
<li>Re-circulation of cleaning substance during desluding</li>
</ul>
<h3>Safe Cleaning Process</h3>
<ul>
<li>No staff inside tank during cleaning process (non-manned system)</li>
<li>Continuous monitoring and automatic shutdown features</li>
<li>No risk of explosion</li>
<li>Minimal health and safety risks to staff, no HC and H2S</li>
</ul>

<h3>Personal Safety</h3>
<ul>
<li>No staff inside tank during cleaning process (non-manned system)</li>
<li>Minimal health and safety risks to staff</li>
<li>Thorough safety training of operators</li>
</ul>
<h3>Easy Maintenance</h3>
<ul>
<li>Easier tank maintenance after cleaning</li>
</ul>
<h3>Compliance with Regulations</h3>
<ul>
<li>Designed for present and future environmental, health and safety regulations</li>
</ul>
<h3>Highly Flexible</h3>
<ul>
<li>Modular system can be tailored to customer needs</li>
<li>Expandable, as from customers needs</li>
</ul>
<h3>Low Costs</h3>
<ul>
<li>Overall tank cleaning costs reduced - see Cost/Benefit Analysis</li>
</ul>
 				</div>
 				<div class="col-lg-2 "></div>
 			</div>
 	</div>
 </div>


<% include ../partials/footer.ejs %>